<h1>Sign Up for Cat Rental</h1>

<form action="<%= users_url %>" method="post">

<label for="username">Username: 
<input 
type="text" 
name="user[username]" 
id="username" 
value=""> 
</label>

<label for="password">Password: 
<input 
type="text" 
name="user[password]" 
id="password" 
value=""> 
</label>

<input type="submit" value="Sign Up">

</form>