.sections-sidebar {
  background-color: white;
  position: relative;
  float: left;
  opacity: 0;
  padding: 20px  ;
  height: 100vh; 
  top: 0;
  left: 50px;
  z-index: 2;
  transition: all 0.3s ease;
  li {
    padding: 10px;
    font-family: $sans-serif;
  }
}

.expand {
  opacity: 1;
  
}

#sections-sidebar-btn {
  display: inline-block;
}


@media all and (max-width: 800px) {

  .section-nav {
    display: none;
  }

  .right-nav button {
    display: none;
  }

  .left-nav {
    margin: 0;
  }
}


