<h1>Log In for Cat Rental</h1>

<form action="<%= sessions_url %>" method="post">

<label for="username">Username: 
<input 
type="text" 
name="user[username]" 
id="username" 
value=""> 
</label>

<label for="password">Password: 
<input 
type="text" 
name="user[password]" 
id="password" 
value=""> 
</label>

<input type="submit" value="Log In">

</form>